{% extends "index.html" %}
{% block header %}
		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Barolo Tours</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
{% endblock %}

{% block content%}
	<div class="inner">
		<div class="encabezado">
			<div class="encabezado_letra text-center">
				<h1 style="border: solid 1px #555; padding:5px 10px; width: 70px; margin: 0 auto 0 auto; text-align: center;">X</h1>
			</div>

<!--
			<div class="col-4">
				<div class="encabezado_izquierda">
					<ul class="alt">
						<li>Razón Social: {{doc.razon_social}}</li>
						<li>Domicilio Comercial: {{doc.domicilio_comercial}}</li>
						<li>Condición IVA: {{doc.condicion_iva}}</li>
					</ul>
				</div>
			</div>
-->
		</div>
	<hr />
	</div>
	<div class="table-wrapper">
		 <div class="inner">
            <div class="content">
                 <div class="row">
                 	<div class="col-8">
						<table class="alt">
							<thead>
								<tr>
									<th>Item</th>
									<th>Precio</th>
									<th>Cantidad</th>
									<th>Monto</th>
								</tr>
							</thead>
							{% for i in items %}
								<tbody>
									<tr>
										<td>{{ i.item }}</td>
										<td>{{ i.precio }}</td>
										<td>{{ i.cantidad }}</td>
										<td>{{ i.cantidad }}</td>
									</tr>
								</tbody>
							{% endfor %}
						</table>
						<div class="form">
							<form action="/agregar-item/{{documento.id}}/" method="post">
								{% csrf_token %}
								{{formAddItem}}
								<input type="submit" value="Agregar Item" class="button primary small"></input>
								<div style="padding-top:20px" class="actions">
									<ul class="actions">
										<li><a href="/cerrar-documento/" class="button small">Cerrar Documento</a></li>
										<li><a href="/cancelar-documento/" class="button small">Cancelar Documento</a></li>
									</ul>
								</div>
							</form>
						</div>

					</div>
				 </div>
			</div>
		</div>
	</div>
{% endblock %}