{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
{% block head %}
		<title>Barolo Tours</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link rel="stylesheet" href="{% static '' %}assets/css/main.css" />
{% endblock %}
{% block extra_head %}

{% endblock %}
	</head>

	<body class="is-preload">
{% block header %}
		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Barolo Tours [Principal]</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
{% endblock %}
{% block nav %}
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="elements.html">Elements</a></li>
					<li><a href="generic.html">Generic</a></li>
				</ul>
			</nav>
{% endblock%}
{% block content %}
		<!-- Highlights -->
			<section class="wrapper">
				<div class="inner">
					<div class="highlights">
						<section>
							<div class="content">
								<header>
									<a href="/clientes/" class="icon fa-vcard-o"><span class="label">Icon</span></a>
									<h3>Clientes</h3>
								</header>
								<p>Listado de clientes cargados en el sistema.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/documentos/" class="icon fa-files-o"><span class="label">Icon</span></a>
									<h3>Documentos</h3>
								</header>
								<p>Listado de documentos, estados y operaciones.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="/items/" class="icon fa-floppy-o"><span class="label">Icon</span></a>
									<h3>Items</h3>
								</header>
								<p>Listado de items, productos o servicios.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
									<h3>Estadísticas</h3>
								</header>
								<p>Estadísticas de ventas.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
									<h3>Comunicación</h3>
								</header>
								<p>Comunicación con clientes y vendedores.</p>
							</div>
						</section>
						<section>
							<div class="content">
								<header>
									<a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
									<h3>Claves AFIP</h3>
								</header>
								<p>Claves y firmas digitales.</p>
							</div>
						</section>
					</div>
				</div>
			</section>

{% endblock %}

{% block footer %}
		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="content">
					</div>
					<div class="copyright">
						&copy; Sistema de ventas. Powered by <a href="https://www.estudiomanta.com">Manta</a>
					</div>
				</div>
			</footer>
{% endblock %}
{% block scripts %}
		<!-- Scripts -->
			<script src="{% static '' %}assets/js/jquery.min.js"></script>
			<script src="{% static '' %}assets/js/browser.min.js"></script>
			<script src="{% static '' %}assets/js/breakpoints.min.js"></script>
			<script src="{% static '' %}assets/js/util.js"></script>
			<script src="{% static '' %}assets/js/main.js"></script>
{% endblock %}
	</body>
</html>