{% extends "index.html" %}

{% block content%}

    <div class="table-wrapper">
        <div class="inner">
            <div class="content">
<h2>Editar Item</h2>
<h3>
	{% if request.GET.id %}
		{{ mensaje }}
	{% else %}
		Listado de Productos y Servicios
	{% endif %}
</h3>

</div></div></div>

	<div class="table-wrapper">
		<div class="inner">
			<form action="/editaritem/?id={{item.id}}" method="post">
				{% csrf_token %}
				{{ form }}
				<p>
					<div class="col-12">
						<ul class="actions">
							<li><button type="submit" class="button fit small icon fa-hdd-o" style="float:left width:50%">Grabar</button></li>
							<li><a href="/items/" class="button fit small icon fa-times">Cancelar</a></li>
						</ul>
					</div>
				</p>
				<input type="hidden" name="doedit" value="1" />
			</form>
		</div>
	</div>
{% endblock %}