{% extends "index.html" %}

{% block content%}

    <div class="table-wrapper">
        <div class="inner">
            <div class="content">
<h2>Editar Cliente</h2>
<h4><i class="icon fa-exclamation-triangle"></i>
	{% if request.GET.id %}
		{{ mensaje }}
	{% else %}
		Listado de clientes
	{% endif %}
</h4>
</div></div></div>


	<div class="table-wrapper">
		<div class="inner">
			<form action="/doeditcliente/?id={{cliente.id}}" method="post">
				{% csrf_token %}
				{{ form }}
				<p>
					<div class="col-12">
						<ul class="actions">
							<li><button type="submit" class="button fit small icon fa-hdd-o" style="float:left width:50%">Grabar</button></li>
							<li><a href="/clientes/" class="button fit small icon fa-times">Cancelar</a></li>
						</ul>
					</div>
				</p>
			</form>
		</div>
	</div>
{% endblock %}