{% extends "index.html" %}

{% block content%}

    <div class="table-wrapper">
        <div class="inner">
            <div class="content">
                <div class="col-10"><h2 class="center-text">Crear Nuevo Documento</h2></div>
            </div>
        </div>
    </div>    

	<div class="table-wrapper">
        <div class="inner">
            <div class="content">
            <div class="col-6 col-12-medium">
                <h3>Para Consumidor Final:</h3>
                <a href="" class="button small">Generar Documento</a>
            </div>
            <hr/>
            <div class="col-6 col-12-medium">
                <h3>Agregar Items sin Cliente:</h3>
                <a href="/agregar-items/" class="button small">Generar Documento</a>
            </div>
            <hr/>
            <div class="col-6 col-12-medium" style="margin-top:30px;" >
                <h3>Para otro tipo de cliente, complete el formulario:</h3>
                <form action="/agregar-items/" method="post">
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" value="Siguiente >" />
                    <input type="hidden" value="step1" />
                </form>
            </div>
       <ul class="actions">
        <li><a href="/documentos/" class="button small">Cancelar / Volver</a></li>
       </ul>

            </div>
        </div>
	</div>


{% endblock %}
