{% extends "index.html" %}


{% block content%}

<h1>A</h1>

	<ul class="actions">
		<li><a href="#" class="button small">Listado</a></li>
		<li><a href="/documento" class="button primary small">Nuevo Documento</a></li>
		<li><a href="#" class="button small">Filtros</a></li>
	</ul>




	<div class="table-wrapper">
        <div class="inner">
            <div class="content">
                <div class="col-6 col-12-medium">
                    <form action="/documento" method="post">
                        {% csrf_token %}
                        {{ form }}
                        <br>
                        <input type="submit" value="Siguiente >" />
                        <input type="hidden" value="step1" />
                    </form>
                </div>
            </div>
        </div>
	</div>


{% endblock %}
