{% extends "base.html" %}

{% block nav %}
		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Inicio</a></li>
					<li><a href="/documentos/">Documentos</a></li>
					<li><a href="/clientes/">Clientes</a></li>
					<li><a href="/items/">Productos y servicios</a></li>
				</ul>
			</nav>
{% endblock%}