{% extends "index.html" %}

{% block content%}

<h4>Servicios</h4>

	<div class="table-wrapper">
		<table class="alt">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Nombre</th>
					<th>Importe</th>
					<th>Descuento</th>
				</tr>
			</thead>
{% for s in servicios %}
			<tbody>
				<tr>
					<td>{{ s.id }}</td>
					<td>{{ s.nombre }}</td>
					<td>{{ s.precio }}</td>
					<td>{{ s.precio_oferta }}</td>
				</tr>
			</tbody>
{% endfor %}

			<tfoot>
				<tr>
					<td colspan="2"></td>
					<td>360.00</td>
				</tr>
			</tfoot>
		</table>
	</div>


{% endblock %}