{% extends "index.html" %}

{% block header %}
	<!-- Header -->
	<header id="header">
		<a class="logo" href="/">Barolo Tours. [Inicio]</a>
		<nav>
			<a href="#menu">Menu</a>
		</nav>
	</header>
{% endblock %}

{% block content%}
    <div class="table-wrapper">
        <div class="inner">
            <div class="content">

<h2>Documentos</h2>

	<ul class="actions">
		<li><a href="#" class="button primary small">Listado</a></li>
		<li><a href="/nuevo-documento/" class="button small">Nuevo Documento</a></li>
		<li><a href="#" class="button small">Filtros</a></li>
	</ul>

   </div></div></div>
	<div class="inner">
	<div class="table-wrapper">
		<table class="alt">
			<thead>
				<tr>
					<th>Número</th>
					<th>Fecha</th>
					<th>Destinatario</th>
					<th>Cajero</th>
					<th>Estado</th>
					<th>Importe Total</th>
					<th>Continuar</th>
					<th>Ver/Imprimir</th>
					<th>Facturar</th>
				</tr>
			</thead>
{% for d in documentos %}
			<tbody>
				<tr>
					<td>{{ d.id }}</td>
					<td>{{ d.fecha_emision }}</td>
					<td>{{ d.razon_social }}</td>
					<td>{{ d.cajero }}</td>
					<td>{{ d.get_estado_display }}</td>
					<td>{{ d.total }}</td>
<!--					<td><a href="/agregaritems/id={{d.id}}" style="button">Continuar</a></td>-->
					<td><a href="/continuardoc/{{d.id}}/" class="button fit small icon fa-pencil">Continuar</a></td>
					<td><a class="button  fit small icon fa-print">Ver</a></td>
					<td><a class="button fit small icon fa-document">Facturar</a></td>
				</tr>
			</tbody>
{% endfor %}

		</table>
	</div>
    </div>


{% endblock %}