{% extends "index.html" %}

{% block header %}
		<!-- Header -->
			<header id="header">
				<a class="logo" href="/">Barolo Tours</a>
				<nav>
					<a href="#menu">Menu</a>
				</nav>
			</header>
{% endblock %}


{% block content%}
    <div class="table-wrapper">
        <div class="inner">
            <div class="content">
<h2>Items</h2>

	<ul class="actions">
		<li><a href="/items/" class="button primary small">Listado</a></li>
		<li><a href="/nuevoitem/" class="button small">Nuevo Item</a></li>
	</ul>
</div></div></div>

	<div class="table-wrapper">

        <div class="inner">

<!-- Paginado -->

{% include "paginator.html" %}

<!-- // Paginado -->

            <table class="alt">
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Precio</th>
                        <th>Editar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
    {% for i in items %}
                <tbody>
                    <tr>
                        <td>{{ i.nombre }}</td>
                        <td>{{ i.getPrecio }}</td>
					<td>
						<a href="/editaritem?id={{ i.id }}" class="button fit small icon fa-pencil">Editar</a>
					</td>
					<td>
						<a href="/eliminaritem?id={{ i.id }}" class="button fit small icon fa-trash">Eliminar</a>
					</td>
                    </tr>
                </tbody>
    {% endfor %}

                <tfoot>
                    <tr>
                        <td colspan="2"></td>
                    </tr>
                </tfoot>
            </table>
        </div>
	</div>


{% endblock %}