{% extends "index.html" %}

{% block content%}
    <div class="table-wrapper">
        <div class="inner">
            <div class="content">

<h2>
	{% if mensaje %}
		{{ mensaje }}
		{% if clitrash %}
			<a href="/restorecli/?idclitrash={{clitrash}}" class="button fa fa-arrow-left">restore</a>
		{% endif%}
	{% else %}
		Listado de clientes
	{% endif %}
</h2>
	<ul class="actions">
		<li><a href="/clientes/" class="button primary small">Listado de Clientes</a></li>
	</ul>

</div></div></div>

	<div class="inner">
		<table class="alt">
			<thead>
				<tr>
					<th>Nombre</th>
					<th>Cuit</th>
					<th>IVA</th>
					<th>email</th>
					<th>Domicilio</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
{% for c in clientes %}
			<tbody>
				<tr>
					<td>{{ c.razon_social }}</td>
					<td>{{ c.cuit }}</td>
					<td>{{ c.get_condicion_iva_display }}</td>
					<td>{{ c.mail }}</td>
					<td>{{ c.domicilio_comercial }}</td>
					<td>
						<a href="/editarcliente?id={{ c.id }}" class="button fit small icon fa-pencil">Editar</a>
					</td>
					<td>
						<a href="/eliminarcliente?id={{ c.id }}" class="button fit small icon fa-trash">Eliminar</a>
					</td>
				</tr>
			</tbody>
{% endfor %}

			<tfoot>
				<tr>
					<td colspan="5"></td>
				</tr>
			</tfoot>
		</table>
	</div>


{% endblock %}