{% extends "index.html" %}

{% block content%}

    <div class="table-wrapper">
        <div class="inner">
            <div class="content">
<h2>Nuevo Item</h2>
{% if error %}
<h4>{{error}}</h4>
{% endif %}
	<ul class="actions">
		<li><a href="/items/" class="button primary small">Listado de productos y servicios</a></li>
	</ul>

</div></div></div>

	<div class="table-wrapper">
		<div class="inner">
			<form action="/nuevoitem/" method="post">
				{% csrf_token %}
				{{ form }}
				<p>
					<div class="col-12">
						<ul class="actions">
							<li><button type="submit" class="button fit small icon fa-hdd-o" style="float:left width:50%">Crear</button></li>
							<li><a href="/items/" class="button fit small icon fa-times">Cancelar</a></li>
						</ul>
					</div>
				</p>
				<input type="hidden" name="doadd" value="1" />
			</form>
		</div>
	</div>
{% endblock %}