	<div class="row">
		<div class="col-md-12 text-right">
		<nav aria-label="Page navigation">
		<ul class="pagination pagination-sm">
		{% if items.has_previous %}
			{% if current_gen == current_col %}

				<li>
					<a href="{{ request.get_full_path }}?page={{ items.previous_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% else %}
				<li>
					<a href="?page={{ items.previous_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Previous">
						<span aria-hidden="true">&laquo;</span>
					 </a>
				</li>
			{% endif %}
		{% endif %}
		<li>
			<span class="current">
				Página {{ items.number }} de {{ items.paginator.num_pages }}
			</span>
		</li>
		{% if items.has_next %}
			{% if current_gen == current_col %}
				<li>
					<a href="{{ request.get_full_path }}?page={{ items.next_page_number }}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% else %}
				<li>
					<a href="?page={{ items.next_page_number }}{% for key,value in request.GET.items %}{% ifnotequal key 'page' %}&{{ key }}={{ value }}{% endifnotequal %}{% endfor %}" aria-label="Next">
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			{% endif %}
		{% endif %}
		 </ul>
		</nav>
		</div>
</div>
