{% extends "index.html" %}

{% block content%}
<h3>
	Agregar Articulo al documentos {{numdoc}}
</h3>
	<ul class="actions">
		<li><a href="/continuardoc/{{numdoc}}/" class="button primary small">Volver al Documento</a></li>
	</ul>

	<div class="inner">

        <form method="POST" action="/agregaritems/"

	</div>


{% endblock %}